---
import { BASE_SITE_NAME, X_HANDLE } from "../../consts";

interface Props {
  title: string;
  description: string;
  image?: string;
  slug?: string;
  type?: string;
}

const {
  title,
  description,
  image = "/hungvu-tech-cover-image-1200x630.png",
  slug = "",
  type = "website",
} = Astro.props;

const siteUrl = new URL(slug, Astro.site);
const imageUrl = new URL(image, Astro.site);
---

<!-- Canonical URL -->
<link rel="canonical" href={siteUrl} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={siteUrl} />
<meta property="og:site_name" content={BASE_SITE_NAME} />
<meta property="og:locale" content="en_US" />
<meta property="og:image" content={imageUrl} />
<meta property="og:image:alt" content={description} />
<meta property="og:type" content={type} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content={X_HANDLE} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:url" content={siteUrl} />
<meta property="twitter:image" content={imageUrl} />
<meta property="twitter:image:alt" content={description} />
