---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.publishedDate.valueOf() - b.data.publishedDate.valueOf(),
);
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class="flex w-full flex-col items-center bg-base-100">
    <Header />
    <main class="flex w-full max-w-[1360px] flex-col items-center px-6 py-12">
      <div class="daisyui-card bg-base-300">
        <div class="daisyui-card-body">
          <h1 class="daisyui-card-title text-5xl text-base-content">
            Hello, Tech Enthusiasts!
          </h1>
          <p class="text-base-content">
            Welcome to my digital repository. This is where I log my own
            learning experience. The topics range from software development,
            configuraiton, review, to homelab setup. I hope you find something
            useful here!
          </p>
        </div>
      </div>

      <section class="mt-10 flex w-full flex-row justify-center">
        <ul class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
          {
            posts.map((post) => (
              <li class="col-span-1">
                <a
                  class="daisyui-card h-96 bg-base-100 shadow-xl"
                  href={`/${post.slug}/`}
                >
                  <figure>
                    <Image
                      class="h-auto w-full max-w-full"
                      src={post.data.coverImage}
                      alt={post.data.coverAlt}
                    />
                  </figure>
                  <div class="daisyui-card-body">
                    <h3 class="daisyui-card-title text-base-content">
                      {post.data.readerTitle}
                    </h3>
                    <p>
                      <FormattedDate date={post.data.publishedDate} />
                    </p>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
