---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main>
      <h1>Hello, Tech Enthusiasts!</h1>
      <p>
        Welcome to my digital repository. This is where I log my own learning experience. The topics range from software development, configuraiton,
        review, to homelab setup. I hope you find something useful here.
      </p>
      <section class='mt-10'>
        <ul class='grid grid-cols-3 gap-8'>
          {
            posts.map((post) => (
              <li class='col-span-1'>
                <a class='daisyui-card bg-base-100 shadow-xl h-96' href={`/blog/${post.slug}/`}>
                  <figure>
                    <img class='w-full max-w-full h-auto' src={post.data.heroImage} alt='' />
                  </figure>
                  <div class='daisyui-card-body'>
                    <h3 class='daisyui-card-title'>{post.data.title}</h3>
                    <p>
                      <FormattedDate date={post.data.pubDate} />
                    </p>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
